# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase admin / sensitive
admin-tools/

# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/

# Environment variables
.env
.env.*
*.local
dotenv

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Netlify
.netlify/

# Test coverage
coverage/

# Package manager locks
yarn.lock
pnpm-lock.yaml
